<div class="container py-3 px-2">
  <header class="d-flex flex-column flex-md-row justify-content-between align-items-center py-3">
    <h5 class="mb-2 mb-md-0 order-md-0 order-sm-1">Compila i campi per aggiungere un nuovo contatto</h5>
    <a routerLink="/" class="btn btn-link order-md-1 order-sm-0">Torna alla Rubrica</a>
  </header>

  <form class="mt-3 row g-3" *ngIf="contattoForm" [formGroup]="contattoForm" (ngSubmit)="onSubmit()">
    
    <!-- Radio Buttons Tipologia -->
    <div class="col-md-6 d-flex">
      <div class="form-check me-3">
        <input type="radio" name="tipologia" id="fisica" value="fisica" class="form-check-input" formControlName="tipologia">
        <label for="fisica" class="form-check-label">Persona fisica</label>
      </div>
      <div class="form-check">
        <input type="radio" name="tipologia" id="giuridica" value="giuridica" class="form-check-input" formControlName="tipologia">
        <label for="giuridica" class="form-check-label">Persona giuridica</label>
      </div>
      <div *ngIf="contattoForm.get('tipologia')?.invalid && (contattoForm.get('tipologia')?.touched)" class="text-danger">
        Seleziona una tipologia.
      </div>
    </div>
    
    <hr>
    
    <!-- Campo Nome, visibile solo per Persona Fisica -->
    <div class="col-md-6" *ngIf="contattoForm.get('tipologia')?.value === 'fisica'">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" formControlName="nome">
      <div *ngIf="contattoForm.get('nome')?.invalid && (contattoForm.get('nome')?.touched || contattoForm.pristine)" class="text-danger">
        <div *ngIf="contattoForm.get('nome')?.errors?.['required']">Il nome è richiesto.</div>
      </div>
    </div>
    
    <!-- Campo Cognome -->
    <div class="col-md-6" *ngIf="contattoForm.get('tipologia')?.value === 'fisica'">
      <label for="cognome" class="form-label">Cognome</label>
      <input type="text" class="form-control" id="cognome" formControlName="cognome">
      <div *ngIf="contattoForm.get('cognome')?.invalid && (contattoForm.get('cognome')?.touched || contattoForm.pristine)" class="text-danger">
        <div *ngIf="contattoForm.get('cognome')?.errors?.['required']">Il cognome è richiesto.</div>
      </div>
    </div>
    
    <!-- Campo Data di Nascita -->
    <div class="col-md-4" *ngIf="contattoForm.get('tipologia')?.value === 'fisica'">
      <label for="dataNascita" class="form-label">Data di Nascita</label>
      <input type="date" class="form-control" id="dataNascita" formControlName="dataNascita">
    </div>
    
    <!-- Campo Ragione Sociale, visibile solo per Persona Giuridica -->
    <div class="col-md-6" *ngIf="contattoForm.get('tipologia')?.value === 'giuridica'">
      <label for="ragioneSociale" class="form-label">Ragione sociale</label>
      <input type="text" class="form-control" id="ragioneSociale" formControlName="ragioneSociale">
      <div *ngIf="contattoForm.get('ragioneSociale')?.invalid && (contattoForm.get('ragioneSociale')?.touched || contattoForm.pristine)" class="text-danger">
        <div *ngIf="contattoForm.get('ragioneSociale')?.errors?.['required']">Campo obbligatorio</div>
      </div>
    </div>
    
    <!-- Sezione Indirizzo -->
    <div formGroupName="indirizzo" *ngIf="contattoForm.get('tipologia')?.value === 'fisica' || contattoForm.get('tipologia')?.value === 'giuridica'">
      <h5>Indirizzo</h5>
      <div class="col-12">
        <label for="viaECivico" class="form-label">Via e numero civico</label>
        <input type="text" class="form-control" id="viaECivico" formControlName="viaECivico">
        <div *ngIf="contattoForm.get('indirizzo.viaECivico')?.invalid && (contattoForm.get('indirizzo.viaECivico')?.touched || contattoForm.pristine)" class="text-danger">
          <div *ngIf="contattoForm.get('indirizzo.viaECivico')?.errors?.['required']">Campo obbligatorio</div>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <label for="citta" class="form-label">Città</label>
        <input type="text" class="form-control" id="citta" formControlName="citta">
        <div *ngIf="contattoForm.get('indirizzo.citta')?.invalid && (contattoForm.get('indirizzo.citta')?.touched || contattoForm.pristine)" class="text-danger">
          <div *ngIf="contattoForm.get('indirizzo.citta')?.errors?.['required']">Campo obbligatorio</div>
        </div>
      </div>
      <div class="d-flex mt-2">
        <div class="col-2">
          <label for="provincia" class="form-label">Provincia</label>
          <input type="text" class="form-control" id="provincia" formControlName="provincia">
        </div>
        <div class="col-2 mx-3">
          <label for="cap" class="form-label">Cap</label>
          <input type="text" class="form-control" id="cap" formControlName="cap">
          <div *ngIf="contattoForm.get('indirizzo.cap')?.invalid && (contattoForm.get('indirizzo.cap')?.touched || contattoForm.pristine)" class="text-danger">
            <div *ngIf="contattoForm.get('indirizzo.cap')?.errors?.['required']">Campo obbligatorio</div>
            <div *ngIf="contattoForm.get('indirizzo.cap')?.errors?.['maxlength']">Il CAP deve avere al massimo 5 caratteri.</div>
          </div>
        </div>
        <div class="col-4">
          <label for="nazione" class="form-label">Nazione</label>
          <input type="text" class="form-control" id="nazione" formControlName="nazione">
          <div *ngIf="contattoForm.get('indirizzo.nazione')?.invalid && (contattoForm.get('indirizzo.nazione')?.touched || contattoForm.pristine)" class="text-danger">
            <div *ngIf="contattoForm.get('indirizzo.nazione')?.errors?.['required']">Campo obbligatorio</div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Sezione Contatti -->
    <div formGroupName="telefono" *ngIf="contattoForm.get('tipologia')?.value === 'fisica' || contattoForm.get('tipologia')?.value === 'giuridica'">
      <h5>Contatti</h5>
      <div class="d-flex">
        <div class="col-md-4 me-3">
          <label for="prefisso" class="form-label">Prefisso internazionale</label>
          <input type="text" class="form-control" id="prefisso" formControlName="prefissoInternazionale">
          <div *ngIf="contattoForm.get('telefono.prefissoInternazionale')?.invalid && (contattoForm.get('telefono.prefissoInternazionale')?.touched || contattoForm.pristine)" class="text-danger">
            <div *ngIf="contattoForm.get('telefono.prefissoInternazionale')?.errors?.['required']">Campo obbligatorio</div>
            <div *ngIf="contattoForm.get('telefono.prefissoInternazionale')?.errors?.['pattern']">Il prefisso internazionale non è valido.</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="numero" class="form-label">Numero di telefono</label>
          <input type="text" class="form-control" id="numero" formControlName="numero">
          <div *ngIf="contattoForm.get('telefono.numero')?.invalid && (contattoForm.get('telefono.numero')?.touched || contattoForm.pristine)" class="text-danger">
            <div *ngIf="contattoForm.get('telefono.numero')?.errors?.['required']">Campo obbligatorio</div>
            <div *ngIf="contattoForm.get('telefono.numero')?.errors?.['pattern']">Il numero di telefono non è valido.</div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Campo Email -->
    <div class="col-md-6" *ngIf="contattoForm.get('tipologia')?.value === 'fisica' || contattoForm.get('tipologia')?.value === 'giuridica'">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
      <div *ngIf="contattoForm.get('email')?.invalid && (contattoForm.get('email')?.touched || contattoForm.pristine)" class="text-danger">
        <div *ngIf="contattoForm.get('email')?.errors?.['required']">Campo obbligatorio</div>
        <div *ngIf="contattoForm.get('email')?.errors?.['email']">L'email non è valida.</div>
      </div>
    </div>
    
    <!-- Bottone di submit -->
    <div class="col-12" *ngIf="contattoForm.get('tipologia')?.value === 'fisica' || contattoForm.get('tipologia')?.value === 'giuridica'">
      <button type="submit" class="btn btn-primary" [disabled]="!contattoForm.valid && contattoForm.untouched">Aggiungi</button>
    </div>
  </form>
</div>
