<a routerLink="/" class="mb-3 d-flex justify-content-end">Torna alla Rubrica</a>
<!-- contatto-detail.component.html -->
<div *ngIf="contatto" class="contatto-dettagli">
    <h4 class="mb-4 text-secondary">Dettagli del Contatto</h4>
    <!-- Controllo della tipologia -->
<p *ngIf="contatto.tipologia === 'fisica'"><strong>Nome:</strong> {{ contatto.nome }}</p>
<p *ngIf="contatto.tipologia === 'fisica'"><strong>Cognome:</strong> {{ contatto.cognome }}</p>
<p *ngIf="contatto.tipologia === 'fisica'"><strong>Data di Nascita:</strong> {{ contatto.dataNascita | date:'longDate':'it-IT' }}</p>

<p *ngIf="contatto.tipologia === 'giuridica'"><strong>Ragione Sociale:</strong> {{ contatto.ragioneSociale }}</p>

<!-- Campi comuni -->
<ng-container *ngIf="contatto.indirizzo">
    <p><strong>Indirizzo:</strong> {{ contatto.indirizzo.viaECivico }}, {{ contatto.indirizzo.citta }} ({{ contatto.indirizzo.provincia }}), {{ contatto.indirizzo.cap }}, {{ contatto.indirizzo.nazione }}</p>
</ng-container>
<ng-container *ngIf="contatto.telefono">
    <p><strong>Email: </strong> <a [href]="'mailto:' + contatto.email">{{ contatto.email }}</a></p>
    <p><strong>Telefono:</strong> {{ contatto.telefono.prefissoInternazionale }} {{ contatto.telefono.numero }}</p>
</ng-container>

    
    <div class="d-flex justify-content-center mt-4">
        <a (click)="modificaContatto()" class="text-primary me-3"><i class="bi bi-pencil-square"></i></a>
        <a (click)="eliminaContatto(contatto.id!)" class="text-danger"><i class="bi bi-trash3"></i></a>
    </div>
  </div>
  
  