<div class=" d-flex justify-content-end">
    <button type="button" class="btn btn-outline-primary btn-sm mt-3" (click)="addContact()">Aggiungi contatto</button>
</div>
<div class="list-group mt-4" *ngIf="contatti">
    <ng-container *ngFor="let c of contatti">
      <a [routerLink]="['/contatti', c.id]" class="list-group-item list-group-item-action" aria-current="true">
        <ng-container *ngIf="c.tipologia === 'fisica'">
          {{ c.nome }} {{ c.cognome }}
        </ng-container>
        <ng-container *ngIf="c.tipologia === 'giuridica'">
          {{ c.ragioneSociale }}
        </ng-container>
      </a>
    </ng-container>
  </div>
  
